body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E0E0E0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100%;
}

h1{
  margin: 0;
  font-family: 'Inria Serif';
  font-size: 48px;
  color: #AF7B51;
}
p{
  margin: 5px;
}

.div--header{
  display: flex;
  height: 16vh;
  background-color:#00796B;
  align-items: center;
  padding-left: 12vh;
}

.div--footer{
  display: flex;
  height: 16vh;
  background-color:#00796B;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
}

.footer--copyright{
  font-family: 'Inria', italic;
  font-size: 12px;
  color: white;
}

.home--wrapper{
  display: flex;
  flex-direction: column;
  height: 68vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-wrapper0{
  height: 100vh;
}

.cleist--btn{
  background-color: #00796B;
}

.div--start{
  display: flex;
  background-color: #233A44;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.start--logo{
  padding-bottom: 4vh;
  height: 48vh;
  width:auto;
}

.start--h1{
  padding-bottom: 4vh;
  color: white;
}

.start--button{
  background-color: #01A592; /* Green */
  border-radius: 10px;
  border: none;
  color: white;
  padding: 16px 192px 12px 192px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  font-family: 'Inria', bold;
}

.start--button:hover{
  background-color: #00796B;
  color:#D3D3D3;
}

.start--copyright{
  color: white;
  position: absolute;
  bottom: 1vh;
  left: 0;
  right: 0;
  font-family: 'Inria', italic;
  font-size: 12px;
}

.generic--button{
  background-color: #01A592; /* Green */
  border-radius: 10px;
  border: none;
  color: white;
  padding: 12px 64px 6px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-family: 'Inria', bold;
}

.generic--button:hover{
  background-color: #00796B;
  color:#D3D3D3;
  cursor: pointer;
}

.div--device{
  background-color: #D3D3D3;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.device--image{
  max-height: 200px;
  max-width: 200px;
}

.select--label{
  display: inline-block;
  border-radius: 99px;
  color: white;
  padding: 4px 8px 0px 8px;
  font-size: 24;
  font-family: 'Inria', bold;
  border-width: 0;
}

.select--label:hover{
  cursor: pointer;
  color:#E0E0E0;
}

.home--item{
  display: flex;
  align-items: center;
  height: 7vh;
  font-family: 'Inria', bold 400;
}

.home--item--value{
  display: flex;
  align-items: center;
  height: 7vh;
  padding-left: 32px;
}

.selector{
  background-color: #233A44;
  color: white;
  width: 20vh;
  border-width: 0;
  height: 3vh;
  font-family: 'Inria', bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.selector:active{
  background-color: #233A44;
  border-width: 0;
}

.form--budget{
  font-family: 'Inria', bold;
}

.form--budget::-webkit-inner-spin-button {
  background-color: #01A592;
  display: flex;
  justify-content: center;
  align-self: center;
}

.header--headline{
  color: white;
  padding-left: 32px;
  font-size: 24px;
}

